SwiftFoundation/SwiftFoundation.xcodeproj/project.xcworkspace/xcuserdata/*
SwiftFoundation.xcworkspace/xcuserdata/*
SwiftFoundationAppleBridge/SwiftFoundationAppleBridge.xcodeproj/xcuserdata/*
SwiftFoundation/SwiftFoundation.xcodeproj/xcuserdata/*
Carthage/*
SwiftFoundation/SwiftFoundationTests/1.json
.build

Packages/*

SwiftFoundation/build

Xcode/SwiftFoundation.xcodeproj/xcuserdata

Xcode/SwiftFoundation.xcodeproj/project.xcworkspace/xcuserdata

.DS_Store

.swiftpm
