SwiftFoundation/SwiftFoundation.xcodeproj/project.xcworkspace/xcuserdata/*
SwiftFoundation.xcworkspace/xcuserdata/*
SwiftFoundationAppleBridge/SwiftFoundationAppleBridge.xcodeproj/xcuserdata/*
SwiftFoundation/SwiftFoundation.xcodeproj/xcuserdata/*

MyPlayground.playground/*
